@charset "ISO-8859-1";
@charset "ISO-8859-1";
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lavender;
}
html{
  scroll-behavior: smooth;
}
.topnav {
  overflow: hidden;
  background-color: lavender;
}

.topnav a {
  float: left;
  color: blueviolet;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  background-color: #9A9AEB;
  color: lavender;
}

.topnav a.active {
  background-color:#9A9AEB;
  color: lavenderblush;
}

*{
  box-sizing: border-box;
}
.bg-img{
  background-image:url("h1.JPG") ;
  min-height: 550px;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover ;
  position: relative;
}

body {font-family: Arial, Helvetica, sans-serif;}

.buttonallign{
  position: relative;
  top: 30%;
  left: 40%;
  border-radius: 8px;
  animation: glowing 2000ms infinite;

}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 12px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;

}

/* Set a style for all buttons */
button {
  background-color: lavender;
  color: blueviolet;
  
  padding: 14px 20px;
  margin: 33px 0;
  border: none;
  cursor: pointer;
 
  width: 100%;
}
@keyframes glowing {
        0% {
          background-color: blueviolet;
          box-shadow: 0 0 5px blueviolet;
        }
        50% {
          background-color: lavender;
          box-shadow: 0 0 50px blueviolet;
        }
        100% {
          background-color: lavender;
          box-shadow: 0 0 30px blueviolet;
        }
      }

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  color: white;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.profilepic {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
.bulletin{
  list-style-type: square;

}
#Service{
  wudth: 0ch;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(22) 1s infinite;


}
@keyframes typing {
            from {
                width: 0ch;
            }
            to {
                width: 91ch;
            }
        }
        
.footer{
  padding-left: 850px;
  color: blueviolet;
  border-color: black;
  font: italic 1.2em "Fira Sans",serif;
  display: block;

}
.service{
  font: italic 1.2em "Fira Sans",serif;
  position: relative;
  padding-left: 80px;
}
#ff{
  color: black;
}